<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="head">
<h1> Libraries Club</h1>
<a href="/home">Home</a>
</div>
   <h2><%= book.title %></h2>
<p>ID: <%= book._id %></p>
<p>Author: <%= book.author %></p>
<p>Description: <%= book.description %></p>

  <%for(let i=0; i<bookReviews.allReviews.length; i++){%>
    <div style="border: 2px solid black;  padding: auto;">
      <!-- user: username, and image -->
       <img src="<%= bookReviews.users[i].picture %>" alt="user profile picture" height="40px" width="40px">
       <p><%=bookReviews.users[i].username%></p>
       <!-- review: rating, and comment -->
        <p>Rating: <%=bookReviews.allReviews[i].rating%></p>
        <p>Comment: <%=bookReviews.allReviews[i].comment%></p>
    </div>
    <br>
  <%}%>
</body>
</html>
