<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2><%= bookReviews.book.title %></h2>
    <p>ID: <%= bookReviews.book._id %></p>
    <img src="<%= bookReviews.book.picture %>" alt="book image">
    <p>Author: <%= bookReviews.book.author %></p>
    <p>Description: <%= bookReviews.book.description %></p>
    <h2>reviews</h2>

  <%for(let i=0; i<bookReviews.allReviews.length; i++){%>
    <div style="border: 2px solid black;  padding: auto;">
      <!-- user: username, and image -->
       <img src="<%= bookReviews.users[i].picture %>" alt="user profile picture" height="40px" width="40px">
       <p><%=bookReviews.users[i].username%></p>
       <!-- review: rating, and comment -->
        <p>Rating: <%=bookReviews.allReviews[i].rating%></p>
        <p>Comment: <%=bookReviews.allReviews[i].comment%></p>
    </div>
    <br>
  <%}%>
</body>
</html>
