<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= book.title %></title>
  </head>
  <body>
    <div class="head">
      <h1>Libraries Club</h1>
      <a href="/home">Home</a>
    </div>

    <div class="book-details">
      <h2><%= book.title %></h2>
      <p>ID: <%= book._id %></p>
      <p>Author: <%= book.author %></p>
      <p>Description: <%= book.description %></p>
    </div>
  </body>
</html>
