<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home page</title>
  </head>
  <body>

<%- include('../views/partials/header.ejs') %>

      <div class="search">
      <input type="text" class="search-text" />
      <button class="search-button">search</button>
    </div>


    <div class="book">
<% if (typeof books !== 'undefined' && books.length > 0) { %>
<% books.forEach(book => { %>

  <a href="/book/<%= book._id %>"> <img src="<%= book.picture %>" alt="<%= book.title %>" class="book-image"/>
  <div class="book-title"><%= book.title %></div>
</a>




<% }) %>
<% } else { %>
<p> No books available</p>
<% } %>
    </div>


    <%- include('.../views/footer.ejs') %>
  </body>
</html>
