<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=libraryDetails.user.username%></title>
</head>
<body>
  <%- include('../views/partials/header.ejs') %>

  <header>
    <img src="<%=libraryDetails.user.picture%>" alt="Profile Picture">
    <h2><%=libraryDetails.user.username%></h2>
    <%if(libraryDetails.user.typeOfUser ==="Library"){%>
      <a href="/books/create">Add Book</a>
      <%}%>
  </header>
  <h1> Book I added</h1>

  <section>
    <%for(let i =0; i<libraryDetails.userBooks.length; i++){%>
    <div>
      <h3><%= libraryDetails.userBooks[i].title%></h4>
    </div>
    <%}%>
  </section>
<a href="/views/auth/sign-out.ejs"> sign out</a>

<%- include('../views/partials/footer.ejs') %>
</body>
</html>
